<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tom's Login-System</title>
	<link rel="stylesheet" href="src/main/resources/static/stylesheet.css">
	<style>
	body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	}
	</style>
</head>

<body>

	<div>
	<form th:action="@{/}" method="post" th:object="${user}">
		<h1>Login-System</h1><br>
		<div th:if="${error}" class="error" th:text="${error}"></div>
		<input type="text" th:field="*{username}" placeholder="Username"><br><br>
		<input type="password" th:field="*{password}" placeholder="Password"><br><br>
		<button type="submit">Login</button>
		<button type="button" onclick="location.href='register'">Registrieren</button>
	</form>
	</div>

</body>
</html> 