<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
</head>
<body>
	<form th:object="${user}" method="get">
	<div th:if="${errorUserNotFound}" class="errorUserNotFound" th:text="${errorUserNotFound}"></div>
        <h1>Dashboard</h1>
    <p>Username: <span th:text="${user.username}"></span></p>
    <p>Password: <span th:text="${user.password}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
    <p>Date of Birth: <span th:text="${user.birthDate}"></span></p>
	</form>
	
	<form th:action="@{logout}" method="post">
	<button type="submit">Logout</button>
	</form>
    
</body>
</html>